$gray-darker: #282828;
$gray-dark: #333;
$gray: #666;
$gray-medium: #aaa;
$gray-light: #c8c8c8;
$gray-lighter: #dedede;
$gray-white: #fafafa;
$white: #fff;

$yellow: #eade00;
$blue: #0291a7;
$blue-light: #aceff9;
$red: #cc0000;
$green: #afcc49;

$space-xxs: 0.4rem;
$space-xs: 0.8rem;
$space-sm: 1.6rem;
$space: 2.4rem;
$space-md: 3.2rem;
$space-lg: 4.8rem;
$space-xlg: 6.4rem;
$space-xxlg: 8.8rem;

$drums-height: 80vh;

$screen-xxs: 380px;
$screen-xs: 440px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xlg: 1400px;
$screen-xxlg: 1600px;

$zindex-drums: 1;
$zindex-site: 10;
